/*html{

overflow: hidden;

}*/

body{

background-color: white;
color: blue;
    margin: 0;

}

h1{


text-align: center;
font-size: 30px;

}

h2 {

color: maroon;
background-color: #FF1493;
}

#menu ul{

  text-align: center;
}

#menu li{
    display: inline;
}



#menu a{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}




a:hover{
    background-color: #7A991A;
}


p.detail{

    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

p.summary{

line-height: 1.5;
color:red;
}

div.infobox {
    position: fixed;
    background-color: white;
    border-style: double;
    border-width: 10px;
    border-color: red;
    width: 98.5%;
}

div.summarybox {
     margin-bottom: 10px;
    margin-top: 20px;    
    border-style: double;
   border-width: 10px;
    border-color: red;

    width: 80%;
    margin: 0 auto;
}



div.educationbox{
    margin-bottom: 10px;
    margin-top: 20px;
    border-style: double;
    border-width: 10px;
    border-color: red;
}

div.employmentbox{
     margin-bottom: 10px;
    margin-top: 20px;
    border-style: double;
   border-width: 10px;
    border-color: red;
}


/*#profilepic {

	position: absolute;
    top: 22px;
    height: 110px;
    width: 110px;
    right: 8rem;

}*/